<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="/static/images/avatar.jpg" alt="" /></a>
					<h1><strong>Flask with Python</strong>, a way to generate<br />
					html files.<br /></h1>
					<ul class="icons">
						<li><a href="https://twitter.com/Marixusa" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/Legnakra" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
				</div>
			</header>


			<!-- Blog posts -->
			{% block content %}{% endblock %}


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>